:root {
    --link-blue: #0088aa;
    --dark-gray: #666666;
    --light-gray: #dddddd;
    --light-gray-darker: #bbbbbb;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body > nav {
    background-color: var(--dark-gray);
    color: #ffffff;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body > nav > h2, body > nav > a {
    color: #ffffff;
    margin: 0;
    padding: 0.5em 2em;
}

body > nav > a:hover {
    color: #ffffff;
    background-color: var(--light-gray-darker);
}

h1 {
    text-decoration: underline;
}

a, a:active, a:hover {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-blue);
}

.table-wrapper {
    overflow-x: auto;
    padding: 1px;
}

table {
    margin-top: 1em;
    border-collapse: collapse;
}

table th, table td {
    padding: 0.5em 1em;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #eeeeee;
}

table > thead > tr > th {
    background-color: var(--link-blue);
    color: #ffffff;
    text-transform: uppercase;
}

table > tbody {
    border: 1px var(--light-gray-darker) solid;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.container > .sidebar {
    padding: 1em;
}

.sidebar > h2 {
    margin: 0;
    padding: 0 0 0 0.5em;
}

.sidebar > ul {
    margin: 0;
    padding: 0 0 0 2em;
}

.container > .view {
    padding: 1em;
    border-top: 1px solid var(--light-gray);
    max-width: 100%;
}

.view > h1 {
    margin-top: 0;
}

.view .code {
    background-color: var(--light-gray);
    padding: 1em;
    border-left: 5px #dd6600 solid;
    font-family: "Lucida Console", Monaco, monospace;
}

.magenta-letters {
    color: #660066;
}

.gray-bold {
    color: var(--dark-gray);
    font-weight: bold;
}

.params {
    color: var(--dark-gray);
    font-family: "Lucida Console", Monaco, monospace;
}

.break-all {
    word-break: break-all;
}

.view .two-cols {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.view > .two-cols > .col {
    margin: 0 1em;
}

.view > .two-cols > .col > ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.view > .two-cols > .col > ul > li {
    padding: 0.2em 1em;
    border-left: 3px var(--light-gray) solid;
}

.view > .two-cols > .col > ul > li:hover {
    border-left: 3px var(--link-blue) solid;
}

.view li > a {
    font-weight: normal;
    color: #000000;
}

.view li > a:active, .view li > a:hover {
    font-weight: normal;
    color: var(--link-blue);
}

.view > .prop-method-list > h2 {
    margin: 2em 0 0.5em 0;
}

.view > .prop-method-list > h3 {
    margin: 1.5em 0 0.5em 0;
    font-weight: normal;
}

.view > .prop-method-list > .prop-method-description {
    margin: 0.5em 0 1em 0;
    padding-left: 1em;
    border-left: 3px var(--light-gray) solid;
    line-height: 1.6;
}

@media(min-width: 800px) {
    .container {
        flex-direction: row;
        margin: 1em 0;
    }
    
    .container > .sidebar {
        flex-shrink: 0.5;
    }

    .sidebar > h2 {
        margin: 0 0 0.5em 0;
        padding: 0 0 0 0.5em;
    }
    
    .container > .view {
        padding: 2em;
        border-top: none;
        border-left: 1px solid var(--light-gray);
        max-width: 800px;
    }

    .view .two-cols {
        flex-direction: row;
    }
}